{% extends 'base.html.twig' %}

{% block title %}
	A propos - Roots
{% endblock %}


{% block body %}

	<h1 class="text-center">A propos de Roots</h1>


	<div class="about_container">
		<article>
			<h2>Notre concept
			</h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus eligendi ad ducimus necessitatibus perspiciatis rem nihil blanditiis ea! Nisi, quia fuga qui iste quidem officia nisi provident eius, nulla amet numquam, blanditiis magni fugit voluptas explicabo est cum incidunt fugiat molestiae beatae iste aperiam. Earum, cumque tempore consequatur, adipisci eum at similique delectus error iure t veniam nesciunt expedita doloribus pariatur fuga illum voluptas totam aperiam voluptate. Omnis dolorum veniam impedit quo, reiciendis, nobis amet quidem sit cupiditate hic obcaecati.</p>
		</article>
		<article>
			<h2>Nos objectifs</h2>
			<p>Incidunt vero porro eos? Quisquam, cum maiores deserunt numquam recusandae eligendi aliquam sunt quaerat incidunt enim doloremque explicabo autem repellendus! Tempore autem eserunt odit excepturi accusantium praesentium delectus eos ullam debitis, nulla quas, volupnatur omnis. Commodi accusantium atque aliquid eius in placeat earum neque vel reiciendis libero quos nemo animi voluptatum assumenda aspernatur ullam asperiores deserunt, tempore odit cupiditate obcaecati aperiam corrupti. Itaque nam mollitia obcaecati facere? Dolorum atque neque ipsam placeat laudantium, mollitia eveniet repudiandae autem nulla quasi totam dolores, laborum possimus.</p>
		</article>
		<article>
			<h2>Nos valeurs</h2>
			<p>Molestias beatae assumenda non quos pariatur eaque necessitatibus fuga minus quod rem quam expedita ab laborum magni vitae deserunt, temporibus similique mollitia est incidunt, nisi officiis nostrum porro quia assumenda? Incidunt consequatur maiores, a aperiam cupiditate quasi exercitationem numquam aliquam in molestias quaerat distinctio!

			</p>
		</article>
		<article>
			<h2>Notre équipe</h2>

<span>
			<p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, corrupti. Omnis laudantium reiciendis ipsum, repudiandae accusantium adipisci molestias cumque quo!
			</p>


				<figure class="img-fluid"><img class="rounded " src="{{ asset('assets/img/libteam.jpg')}}" alt="Membres de l'entreprise Roots"></figure>
</span>
		</article>
	</div>

{% endblock %}
