{% extends 'base.html.twig' %}

{% block title %}Modifier CategorieRestaurant
{% endblock %}


{% block body %}
	<h1>Modifier CategRestaurant</h1>


	<section class="container">

		{{ include('admin_categorie_restaurant/_form.html.twig', {'button_label': 'Modifier'}) }}

		<hr>
		<div class="d-flex justify-content-center flex-wrap">

			<a href="{{ path('app_admin_categorie_restaurant_index') }}" class="btn btn-outline-dark m-2">Retour aux catég</a>

			{{ include('admin_categorie_restaurant/_delete_form.html.twig') }}
		</div>
	</section>
{% endblock %}
