{% extends 'base.html.twig' %}

{% block title %}Admin - Créer une nouvelle CategorieRestaurant - Roots
{% endblock %}


{% block body %}
	<h1>Créer une nouvelle Categorie de Restaurant</h1>
	<section class="container">

		{{ include('admin_categorie_restaurant/_form.html.twig') }}
		<hr>
		<a href="{{ path('app_admin_categorie_restaurant_index') }}" class="btn btn-outline-dark">Retour à la liste des catégories</a>
	</section>
{% endblock %}
