{% extends 'base.html.twig' %}

{% block title %}
	Créer CategorieRestaurant
{% endblock %}

{% block body %}
	<div class="bg_admin">

		<h1>Créer CategorieRestaurant</h1>

		<div class="container">

			{{ include('admin_categorie_restaurant/_form.html.twig') }}
			<hr>
			<a href="{{ path('app_admin_categorie_restaurant_index') }}" class="btn btn-light">Retour index CategRestau</a>
		</div>
	</div>
{% endblock %}
