{% extends 'base.html.twig' %}

{% block title %}
	Se connecter
{% endblock %}

{% block description %}
	Connectez-vous sur Roots pour découvrir les meilleurs restaurants et livres de recettes africains et caribéens.
{% endblock %}

{% block body %}
	<div
		class="register_container">
		{# container et section inscription #}
		<div class=" section_other text-center">
			<div class="row g-3 m-auto">
				<h1>
					Inscription
				</h1>
				<div>
					<p>
						Pas encore de compte ?
					</p>
					<i class="fa-solid fa-angles-down"></i>
				</div>
				<a role="button" class="btn" href="{{path('app_register')}}">
					S'inscrire
				</a>
			</div>

		</div>
		{# section connexion - main #}
		<section class="section_main">
			<div class="m-auto">
				<h1>
					Connexion
				</h1>

				{# formulaire de connexion #}
				<form method="post" id="login" class="mx-auto row g-3">
					<p>
						<small class=" d-flex justify-content-end opacity-75">
							*champs obligatoires
						</small>
					</p>

					{% if error %}
						<p class="d-flex justify-content-center">
							<small class="alert alert-danger text-center font-weight-bold mb-0 p-2">
								Email et/ou mot de passe incorrect(s)
							</small>
						</p>
					{% endif %}

					<div class="col-12">
						<label for="inputEmail" class="form-label">
							Email*
						</label>

						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="email@exemple.com" autocomplete="email" required autofocus>
					</div>

					<div class="col-12">
						<label for="inputPassword" class="form-label">
							Mot de passe*
						</label>

						<input type="password" name="password" id="inputPassword" placeholder="8 caractères minimum" class="form-control" autocomplete="current-password" required>
						<p class="form-text mb-0 help-text">
							Au moins 1 minuscule, 1 majuscule, 1 chiffre, 1 caractère spécial
						</p>
					</div>

					{# option remember_me : https://symfony.com/doc/current/security/remember_me.html #}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="checkbox mb-3 container-fluid">
						<label>
							<input type="checkbox" name="_remember_me" checked>
							Se souvenir de moi
						</label>
					</div>

					<div class="text-center">
						<button class="btn" type="submit">
							Se connecter
						</button>

						<p>
							<a href="{{path('app_forgot_password_request')}}">
								Mot de passe oublié ?
							</a>
						</p>
					</div>
				</form>
			</div>
		</section>
	</div>
{% endblock %}
