{% block section_home %}
	<section id="section_home" class="container text-center ">
		<h1>
			Les meilleurs restaurants<br/>africains et caribéens
		</h1>

<div class="m-5 mx-auto p-5 d-flex flex-column rounded-3 align-items-center section_hero hero_img">


<picture class="hero_img img_overlay">

{# <img src="{{asset('img/spicess.jpg')}}" alt="Assortiment de plats traditionnels d'Afrique de l'Ouest (soupe aux cacahuètes, riz jollof, ailes de poulet grillées, bananes plantains frites, brochettes de poulet nigérianes, tourtes à la viande), vue en plongée"> #}

</picture>

			<p class="mb-3">
				En quête de saveurs familières ? Ou plutôt de savoureuses découvertes ?
				<br>
				Découvrez les restaurants séléctionnés par l'équipe de Roots
			</p>
			<form action="/search" method="get">
				<div class="input-group mb-4">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa-solid fa-utensils"></i>
					</span>
					<input type="text" class="form-control" placeholder="Cuisine ou région d'Afrique, Caraïbes..." aria-label="Categorie" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-4">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa-solid fa-location-dot"></i>
					</span>
					<input type="text" class=" form-control" placeholder="Localisation (rue, ville ou CP)" aria-label="localisation" aria-describedby="basic-addon1">
				</div>
				<button type="submit" class="btn btn-danger text-white">Rechercher</button>
			</form>
		</div>

	</section>

{% endblock %}
