{% block section_home %}
	<section class="container text-center">
		<h1>
			Les meilleurs restaurants<br/>africains et caribéens
		</h1>
		<div class="position_center">

			<form class="section_home_recherche_form" action="/search" method="get">

				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa-solid fa-utensils"></i>
					</span>
					<input type="text" class="form-control" placeholder="Cuisine ou région d'Afrique, Caraïbes..." aria-label="Categorie" aria-describedby="basic-addon1">
				</div>

				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa-solid fa-location-dot"></i>
					</span>

					<input type="text" class=" form-control" placeholder="Localisation" aria-label="localisation" aria-describedby="basic-addon1">
				</div>

				<button type="submit" class="btn btn-lg section_form_search">Rechercher</button>

			</form>
		</div>
	</section>

{% endblock %}
