{% block section_carousel %}
	<h2>Découvrez nos dernières sélections !</h2>

	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

		<div class="carousel-inner active">

			<div
				class="carousel_item active">
				{# <img src="http://localhost:3000/african.jpg" class="carousel_img " alt="..."> #}

<div class="img-thumbnail carousel_item_text">


					<p>Lorem Ipsum</p>
					<div>
						<a class="" href="#">
{# <img class="img-thumbnail rounded" src="{{asset('upload/' ~ restaurant.photo)}}" alt="Photo de plat de restaurant" width="150" height="100"> #}



						</a>
					</div>
					<small>75018</small>
					<span class="carousel_fav">

						<a href="#">
							Découvrir...
						</a>
						<a href="#">
							<i class="fas fa-star"></i>
						</a>
					</span>
				</div>
			</div>
			<div
				class="carousel_item">
				{# <img src="http://localhost:3000/african.jpg" class="carousel_img " alt="..."> #}

				<div class="carousel_item_text">

					<h3>Titre</h3>
					<p>Adresse</p>
					<span class="carousel_fav">

						<a href="#">
							Découvrir...
						</a>
						<i class="fas fa-star"></i>
					</span>
				</div>
			</div>
			<div
				class="carousel_item">
				{# <img src="http://localhost:3000/african.jpg" class="carousel_img " alt="..."> #}

				<div class="carousel_item_text">

					<h3>Titre</h3>
					<p>Adresse</p>
					<span class="carousel_fav">

						<a href="#">
							Découvrir...
						</a>
						<i class="fas fa-star"></i>
					</span>
				</div>
			</div>
			<div
				class="carousel_item">
				{# <img src="http://localhost:3000/african.jpg" class="carousel_img " alt="..."> #}

				<div class="carousel_item_text">

					<h3>Titre</h3>
					<p>Adresse</p>
					<span class="carousel_fav">

						<a href="#">
							Découvrir...
						</a>
						<i class="fas fa-star"></i>
					</span>
				</div>
			</div>
			<div
				class="carousel_item">
				{# <img src="http://localhost:3000/african.jpg" class="carousel_img " alt="..."> #}

				<div class="carousel_item_text">

					<h3>Titre</h3>
					<p>Adresse</p>
					<span class="carousel_fav">

						<a href="#">
							Découvrir...
						</a>
						<i class="fas fa-star"></i>
					</span>
				</div>
			</div>
			<div
				class="carousel_item">
				{# <img src="http://localhost:3000/african.jpg" class="carousel_img " alt="..."> #}

				<div class="carousel_item_text">

					<h3>Titre</h3>
					<p>Adresse</p>
					<span class="carousel_fav">

						<a href="#">
							Découvrir...
						</a>
						<i class="fas fa-star"></i>
					</span>
				</div>
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span aria-hidden="true">
				<i class="fa-solid fa-circle-chevron-left"></i>
			</span>
			<span class="visually-hidden">Précedent</span>

		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span aria-hidden="true">
				<i class="fa-solid fa-circle-chevron-right"></i>
			</span>
			<span class="visually-hidden">Suivant</span>
		</button>

	</div>
{% endblock %}
