{% extends 'base.html.twig' %}

{% block title %}Edit Giftcard{% endblock %}

{% block body %}
    <h1>Edit Giftcard</h1>

    {{ include('admin_giftcard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_giftcard_index') }}">back to list</a>

    {{ include('admin_giftcard/_delete_form.html.twig') }}
{% endblock %}
