{% extends 'base.html.twig' %}

{% block title %}New Giftcard{% endblock %}

{% block body %}
    <h1>Create new Giftcard</h1>

    {{ include('admin_giftcard/_form.html.twig') }}

    <a href="{{ path('app_admin_giftcard_index') }}">back to list</a>
{% endblock %}
