<h1>
	Bienvenue sur Roots !
</h1>

<p>
	Bonjour,
	<br><br>
	Vous venez de créer un compte sur Roots.

	Pour confirmer votre inscription et activer votre compte, veuillez cliquer sur ce lien :
	<br><br>
	<a href="{{ signedUrl }}" role="button" class="btn btn-success">
	Valider mon compte
	</a>.
</p>
<p>
	Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
	Si vous n'êtes pas à l'origine de la création de ce compte ne tenez pas compte de cet email, le compte sera ainsi automatiquement supprimé.
</p>

<p>
	N'hésitez pas à
	<a href="{{ path('app_contact') }}">nous contacter</a>
	si vous avez des questions.
</p>

<p>
	Un grand merci,
	<br>
	L'equipe Roots !
</p>


