{% extends 'base.html.twig' %}

{% block title %}Admin - Ajouter une LigneCommande - Roots
{% endblock %}


{% block body %}
	<h1>Créer une nouvelle LigneCommande</h1>

	<section class="container">

		{{ include('admin_ligne_commande/_form.html.twig') }}
		<hr>
		<a href="{{ path('app_admin_ligne_commande_index') }}" class="btn btn-outline-dark">Retour à la liste des lignes de commande</a>

	</section>
{% endblock %}
