{% extends 'base.html.twig' %}

{# {% block meta %}
	<meta http-equiv="refresh" content="7;url=https://leroots.fr">
{% endblock %} #}

{% block title %}
	Email de réinitialisation envoyé
{% endblock %}

{% block metadesc %}
	Si vous avez oublié votre mot de passe, vous devez le réinitialiser. Veuillez saisir l'adresse mail utilisée lors de votre inscription sur Roots.
{% endblock %}

{% block body %}

	<h1>
		Lien de réinitialisation envoyé
	</h1>

	<h2>
		Consultez vos emails
	</h2>

	<section class="page_contact_container bg-light">

		<div class="m-3 p-3 mx-auto">
			<p class="mb-5">
				Si un compte Roots correspondant à votre adresse email existe, un email vient de vous être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
			</p>
			<p class=" justify-content-center mx-auto d-flex my-3 w-75 alert alert-info">
				Ce lien expire dans
				{{ resetToken.expirationMessageKey| trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
			</p>

			<p class=" my-4">

				Si vous ne recevez pas d'email :
				<ul class="mx-5">
					<li style="list-style-type: disc">

						Vérifiez les courriers indésirables (spam) de votre boite mail
					</li>
					<li style="list-style-type: disc">
						Vérifiez si votre adresse email ne contient pas de fautes
					</li>
					<li style="list-style-type: disc">
						Faites une nouvelle demande de
						<a href="{{ path('app_forgot_password_request') }}">
							réinitialisation de mot de passe
						</a>
					</li>
				</ul>
			</p>
		</div>

		<div class="d-flex justify-content-center my-3">
			<a role="button" href="{{path('app_home') }}" class="btn btn-outline-dark">
				Retour à l'accueil
			</a>
		</div>

	</section>

{% endblock %}
