{% extends 'base.html.twig' %}

{% block title %}
	Réinitialiser mon mot de passe
{% endblock %}

{% block metadesc %}
	Procéder dès à présent à la réinitialisation de votre mot de passe pour accéder à votre compte sur Roots.
{% endblock %}

{% block body %}
	<h1>
		Réinitialiser mon mot de passe
	</h1>

	<section class="bg-roots-yellow-form p-4 bg-light">

		<p class="mb-5 mt-2 h5 text-center">
			Entrez votre nouveau mot de passe ci-dessous :
		</p>

		{{ form_start(resetForm, {
			'attr' : { 'class' : 'w-75 mx-auto' }
		} ) }}
<p>
	<small class=" justify-content-end d-flex opacity-75">
		*Champs obligatoires
	</small>
</p>

		{{ form_row(resetForm.plainPassword) }}

		<button class="btn btn-success my-2">Enregistrer</button>

		{{ form_end(resetForm) }}

		<p class="my-3 mx-auto w-75">
			Une fois votre nouveau mot de passe enregistré, vous pourrez immédiatement vous connecter à votre compte.
		</p>

	</section>

{% endblock %}
