{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente - Roots
{% endblock %}

{% block body %}
	<section class="container">
		<h1>Conditions générales de vente</h1>
		<p class=" text-center">(En vigueur au 01/05/2022)</p>
		<div class="p-4 mt-3 bg-success bg-opacity-10 rounded-3">

			<article>
				<h2>Article 1 - Champ d'application</h2>
				<p>
					Les présentes Conditions Générales de Vente (dites « CGV ») s'appliquent, sans restriction ni réserve à l'ensemble des ventes conclues par le Vendeur auprès d'acheteurs non professionnels (« Les Clients ou le Client »), désirant acquérir les produits proposés à la vente (« Les Produits ») par le Vendeur sur le site www.leroots.fr. Les Produits proposés à la vente sur le site sont les suivants :
					<ul class="px-5">
						<li>Lives de recettes de cuisines spécialisés en cuisines africaines et caribéennes,</li>
						<li>Bons cadeaux réservés à l'achat de livres de recettes sur le site</li>
					</ul>

					Les caractéristiques principales des Produits et notamment les spécifications, ilustrations et indications de dimensions ou de capacité des Produits, sont présentées sur le site www.leroots.fr ce dont le client est tenu de prendre connaissance avant de commander.
					<br>
					Le choix et l'achat d'un Produit sont de la seule responsabilité du Client.
					<br>
					Les offres de Produits s'entendent dans la limite des stocks disponibles, tels que précisés lors de la passation de la commande.
					<br>
					Ces CGV sont accessibles à tout moment sur le site www.leroots.fr et prévaudront sur toute autre document.
					<br>
					Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en œuvre de la procédure de commande en ligne du site www.leroots.fr.
					<br>
					Sauf preuve contraire, les données enregistrées dans le système informatique du Vendeur constituent la preuve de l'ensemble des transactions conclues avec le Client.
					<br>
					Les coordonnées du Vendeur sont les suivantes :
					<ul class="px-5">
						<li>Tavares Vaz Justine</li>
						<li>2 rue felix voisin</li>
						<li>Numéro d'immatriculation: XXXXXXXXXXXXX</li>
						<li>Email: tavaresjustine pro@gmail com</li>
						<li>Téléphone : 0642671261</li>
					</ul>
				</p>
			</article>
			<article>
				<h2>ARTICLE 2 - Prix</h2>
				<p>
					Les Produits sont fournis aux tarifs en vigueur figurant sur le site www.leroots.fr, lors de l'enregistrement de la commande par le Vendeur.
					<br>
					Les prix sont exprimés en Euros, HT et TTC.
					<br>
					Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Vendeur sur le site www.leroots.fr.
					<br>
					Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Vendeur se réserve le droit, hors période de validité, d'en modifier les prix à tout moment.
					<br>
					Les prix ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont facturés en supplément, dans les conditions indiquées sur le site et calculés préalablement à la passation de la commande.
					<br>
					Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.
					<br>
					Une facture est établie par le Vendeur et remise au Client lors de la livraison des Produits commandés.
				</p>
			</article>
			<article>
				<h2>ARTICLE 3 - Commandes</h2>
				<p>
					Il appartient au Client de sélectionner sur le site www.leroots.fr  les Produits qu'il désire commander, selon les modalités suivantes :
					<br>
					Le Client choisit un ou plusieurs Produits (livres de recettes et bons cadeaux) qu'il ajoute à son panier sur le site Roots.
					<br>
					Le Client pourra supprimer ou modifier la quantité du Produit avant de valider son panier de commande et d'accepter les présentes conditions générales de vente.
					<br>
					Il rentrera ensuite ses coordonnées personnelles pour s'inscrire sur le site ou se connectera à son espace personnel sur le site. Après s'être connecté, le Client complètera les informations personnelles nécessaires liées au mode de livraison.
					<br>
					Après la validation des informations personnelles de connexion/d'inscription et les informations personnelles de livraison, il sera exigé du Client qu'il passe à l'étape de paiement de sa commande en entrant ses coordonnées bancaires, via le mode de paiement de son choix parmi la sélection proposée par Roots via les services de Stripe.
					<br>
					Après la validation de ses coordonnées bancaires et le paiement réalisé avec succès, la commande sera considérée comme définitive et validée, puis envoyée en base de données de l'entreprise Roots afin d'être traitée et expédiée dans les meilleurs délais à la destination de livraison indiquée par le Client.
					<br>
					Les offres de Produits sont valables tant qu'elles sont visibles sur le site, dans la limite des stocks disponibles.
					<br>
					La vente ne sera considérée comme valide qu'après paiement intégral du prix. Il appartient au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.
					<br>
					Toute commande passée sur le site www.leroots.fr constitue la formation d'un contrat conclu à distance entre le Client et le Vendeur.
					<br>
					Le Vendeur se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.
					<br>
					Le Client pourra suivre l'évolution de sa commande sur le site.
					<br>
					Toute annulation de la commande par le Client ne sera possible qu'avant la liaison des Produits (indépendamment des dispositions relatives à l'application ou non du droit de rétractation légal).
				</p>
			</article>
			<article>
				<h2>
					ARTICLE 3 BIS - Espace Client - Compte
				</h2>
				<p>
					Afin de passer commande, le Client est invité à créer un compte (espace personnel).
					<br>
					Pour ce faire, il doit s'inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et
					s'engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
					<br>
					Le Client est responsable de la mise à jour des informations fournies. Il lui est précisé qu'il peut les modifier en se connectant à son compte.
					<br>
					Pour accéder à son espace personnel et aux historiques de commandes le Client devra s'identifier à l'aide de
					son email et de son mot de passe, qui sont strictement personnels. À ce titre, le Client s'en interdit toute divulgation. Dans le cas contraire, il restera seul
					responsable de l'usage qui en sera fait.
					<br>
					Le Client pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel
					ou envoyant un email à : contact@roots.fr. Celle-ci sera effective dans un délai raisonnable.
					<br>
					En cas de non-respect des conditions générales de vente et/ou d'utilisation, le site www.leroots.fr aura la
					possibilité de suspendre, voire de fermer, le compte d'un client après mise en demeure adressée par voie électronique et restée sans effet.
					<br>
					Toute suppression de compte, quel qu'en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.
					<br>
					Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la
					responsabilité du Vendeur.
					<br>
					La création du compte entraîne l'acceptation des présentes conditions générales de vente.
				</p>
			</article>
			<article>
				<h2></h2>
			</article>
			<article>
				<h2></h2>
			</article>
			<article>
				<h2></h2>
			</article>
			<article>
				<h2></h2>
			</article>
			<article>
				<h2></h2>
			</article>
			<article>
				<h2></h2>
			</article>
			<article>
				<h2></h2>
			</article>


		</div>
	</section>


{% endblock %}
