{% extends 'base.html.twig' %}

{% block title %}Mentions légales - Roots
{% endblock %}

{% block body %}
<section class="container">
	<h1>Données personnelles et cookies</h1>
</section>



{% endblock %}