{% extends 'base.html.twig' %}

{% block title %}Hello LegalController!
{% endblock %}

{% block body %}
	<h1>
		Mentions légales
	</h1>

	<p>
		TAVARES VAZ JUSTINE
		<br>
		Roots
		<br>
		5, rue lorem ipsum - 75011 Paris
		<br>
		0600000000
		Numéro RCS: RCS PARIS A 000 000 000


	</p>

<section>
    <article>
        <h2>Hébergement</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorum perspiciatis voluptatem doloribus et debitis sint doloremque excepturi rerum aliquid est numquam porro voluptatum, dicta omnis, autem, illum vero quisquam.</p>
    </article>
    <article>
        <h2>Cookies</h2>
        <p>Temporibus porro id nulla alias omnis ad provident fuga, architecto iure? Officiis aperiam nesciunt sequi distinctio impedit asperiores velit quam est, saepe consequatur doloribus suscipit beatae autem. Nesciunt, rerum dolore.</p>
    </article>
    <article>
        <h2>
        <p>Aperiam quis repudiandae ipsam laboriosam eligendi dolorem illo omnis dicta soluta blanditiis temporibus corporis, sed inventore optio laudantium sit, veritatis minima repellat! Distinctio, nemo voluptatem quaerat ab porro eveniet unde!</p>
    </article>
    <article>
        <h2>
        <p>Deleniti totam qui mollitia. At culpa quo dicta magnam, explicabo fuga reprehenderit tempora ullam minima minus? Adipisci, repellendus eum. Possimus odio asperiores vero! Maiores consequatur natus optio repellendus similique aut.</p>
    </article>
    <article>
        <h2>
        <p>Repellendus necessitatibus id suscipit incidunt alias, veniam rem, ipsum natus atque deleniti fuga facere commodi ex mollitia! Sed distinctio totam vero. Soluta atque laudantium, doloribus sunt repellendus ad tempora rem!</p>
    </article>
</section>

{% endblock %}
