/* formulaire de contact */
.bg-roots-yellow-form,
.bg-roots-yellow-linear {
	background-color: #ffee99;
	padding: 15px 0px;
	/* margin: 2rem auto 5rem; */
	/* background: linear-gradient(110deg, #fdcd3b 60%, #ffdd33  60%); */
}
.bg-roots-yellow-linear > form {
	background-color: #ffee99;
	padding: 20px;
	margin: 5rem auto;
}

.bg-roots-yellow-linear {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.bg-roots-yellow-linear {
	background: linear-gradient(120deg, #fdd762 60%, #ffe770 60%);
}

/* Google MAPS PLAN */
.bg-roots-yellow-linear div > iframe {
	border-radius: 15px;
	border: 1px solid #e62121;
	margin: 2rem auto;
}

/* .bg-roots-yellow-form> form .row {
  background-color:rgb(255, 221, 51, 0.65);
  margin: auto;
} */

.form-label {
	font-size: 1.15rem;
	font-weight: 600;
}

/* responsive format petit */
@media screen and (min-width: 425px) {
	.bg-roots-yellow-linear div > iframe {
		width: 80%;
	}

	.bg-roots-yellow-form,
	.bg-roots-yellow-linear {
		padding: 15px;
	}
}

/* responsive moyen format L, mobile portrait et paysage */
@media screen and (min-width: 768px) {
	.bg-roots-yellow-form div > iframe {
		width: 600px;
	}

	.bg-roots-yellow-linear > form {
		border-radius: 0.3rem !important ;
		width: 85%;
		max-width: 80%;
	}
	/* .bg-roots-yellow-form, */
	.bg-roots-yellow-linear {
		max-width: 100rem;
		width: 85%;
		border-radius: 15px;
	}
}

/* Ordi portable L */
@media screen and (min-width: 1440px) {
.bg-roots-yellow-linear > form {
	padding: 4rem;
}
}

.contact_copy {
	background-color: #e4d1c7;
	border-radius: 5px;
	padding: 20px;
	max-width: 70rem;
	margin: auto;
}

/* PAGE DE CONFIRMATION DE FORMULAIRE */
.bg-roots-yellow-bordered {
	background-color: #fffbea;
	border: 1px solid #2d9b48;
	border-radius: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
