/* bouton déconnexion */
a.btn.btn-danger.m-2 {
	width: 10rem;
}

/* CARD */
#profile_user .container div.card {
	border: #e62121 4px solid;
	border-radius: 15px;
	height: inherit;
	width: inherit;
}
/* NAVIGATION */
div.container.mb-5 nav {
	width: 90%;
	color: #dc1919;
	background-color: #ffffd6;
	margin: 2rem auto;
	border: #2d9b48 2px solid;
	border-radius: 15px;
	text-align: center !important;
}

div.container.mb-5 nav ul {
	padding: 0.65rem;
}
div.container.mb-5 nav p:first-of-type {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

div.container.mb-5 nav ul li:hover {
	background-color: #fff266;
	font-size: 1.05rem;
	font-weight: 800;
	color: #247c39;
	width: 100%;
	margin: auto;
	border-radius: 10px;
}
div.container.mb-5 a:hover {
	color: #247c39;
}
/* card */
#profile_user p.text-danger {
	margin-right: 0.25rem !important;
	margin-left: 0.25rem !important;
}

#profile_user div.container.mb-5 {
	padding: 1.5rem;
	background-color: rgb(255, 221, 51, 0.65);
}

/* responsive moyen format L, mobile portrait et paysage */
@media screen and (min-width: 768px) {
	/* container */
	div.container.mb-5 {
		width: inherit;
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		align-items: center;
	}

	/* navigation */
	div.container.mb-5 nav {
		width: 24rem;
		margin-right: 2rem;
	}

	#profile_user .container div.card {
		width: 40rem;
	}
}

/* responsive format ordi */
@media screen and (min-width: 1200px) {
	div.container.mb-5 {
		justify-content: space-evenly;
	}

	/* navigation */
	div.container.mb-5 nav {
		margin: 0;
	}
}
