/* container de page */
.restaurant_container_carib,
.restaurant_container_afr {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgb(255, 221, 51, 0.65) ;
	padding: 1rem;
	/* width: 95%; */
	margin: 1rem auto;
	border-radius: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}

#categ {
	background-color: rgb(255, 221, 51, 0.65) ;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem;
	/* width: 95%; */
	margin: 1rem auto;
	border-radius: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}

.restaurant_container_afr {
	background-image: url("../img/afr.png");
}
.restaurant_container_carib {
	background-image: url("../img/madras.jpg");
}

/* card pour les restaurants */
.restaurant {
	height: 18rem;
}

/* image */
section .card-img-top, div .card-img-top {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	overflow: hidden;
	height: 70%;
}

/* texte de l'image indiquant les specialités (pays) */
.card-text_img {
	background-color: rgb(255, 221, 51, 1);
	border-top-left-radius: 6px;
	border-bottom-right-radius: 5px;
	padding: 0 0.5rem;
	color: #992E00;
	font-weight: 700;
	width: fit-content;
	position: absolute;
}