#restaurant_show div#carouselExampleIndicators.carousel.slide {
	width: 60%;
	margin: 2rem auto;
}

#restaurant_show div#carouselExampleIndicators.carousel-control-next,
#restaurant_show div#carouselExampleIndicators.carousel-control-prev {
	opacity: 0;
	width: 11%;
}
#restaurant_show .accordion-button:not(.collapsed) {
	background-color: #ffdd33;
}
#restaurant_show .accordion-button {
	background-color: #d9beaf;
}
.accordion-item {
	width: 80%;
	margin: auto;
	background-color: #f9f5f3;
}
#restaurant_show .accordion-button:focus {
	box-shadow: none;
}
/* pour le chevron down accordion */
#restaurant_show .accordion-button::after {
	width: 4.5rem;
	background-size: 1.7rem;
}

/* contact accordeon */
#restaurant_show .accordion-body ul li {
	font-weight: 700;
	font-size: 1.115rem;
	border-top: 1.25px solid black;
}
#restaurant_show .accordion-body {
	width: 95%;
	margin: auto;
}
