/* container de page */
.restaurants_container,
.restaurant_container_carib,
.restaurant_container_afr, .produits_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #ffdd33;
	padding: 1rem;
	width: 95%;
	margin: 1rem auto;
	border-radius: 15px;
	background-size: cover;
	background-repeat: no-repeat;
}
.restaurant_container_afr {
	background-image: url("../img/afr.png");
}
.restaurant_container_carib {
	background-image: url("../img/madras.jpg");
}

.produits_container {
	background-color: #2d9b48;
}
/* carte presentation de restaurant et image */
.card {
	width: 15rem;
	border-radius: 10px;
	margin: 2rem;
	border: 3px solid #e62121;
	height: 18rem;
}
.card-img-top img {
	width: 15rem;
}

/* image */
section .card-img-top {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	overflow: hidden;
	height: 60%;
}

.produits_container .card {
	height: fit-content;
}
/* texte de l'image indiquant les specialités (pays) */
.card-text_img {
	background-color: rgb(255, 221, 51, 1);
	border-top-left-radius: 6px;
	border-bottom-right-radius: 5px;
	padding: 0 0.5rem;
	color: #992E00;
	font-weight: 700;
	width: fit-content;
	position: absolute;
}