/* GLOBAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* sticky footer */
html,
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site_container {
	flex: 1;
	width: 100%;
	/* max-width: 175rem; */
	margin: auto;
}

/* ADMIN NAV */
#admin_header.sticky-top {
	z-index: 998;
}
/* fin sticky footer */

main.site_container p a:not(.btn),
section div li a,
article a {
	text-decoration: underline;
	/* font-weight: 700; */
}
/* main a:not(.card a, .btn, nav a,) {
	text-decoration: underline;
} */

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #247c39;
}
/* TEXTE ALT */
a > img:hover {
	color: #0000ff;
}

ul {
	list-style: none;
	padding-left: 0.5rem;
	margin-bottom: 0;
}

section {
	margin: 3rem auto;
	max-width: 1000px;
}

/* BSEARCHBAR FLOTTANTE */
#navbarSearch {
	max-width: 600px;
	border-radius: 50rem !important;
	padding: 1rem !important;
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
	margin-right: auto !important;
	margin-left: auto !important;
	border: 1px solid #dc3545;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* responsive format petit */
@media screen and (min-width: 425px) {
	section {
		padding: 1rem;
	}
}

article {
	margin-top: 1.25rem;
}

.btn {
	font-weight: 600;
}

.card {
	min-height: 320px;
	width: 14rem;
	border-radius: 10px;
	margin: 2rem;
	border: 1px solid #e62121;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img-top img {
	width: 100%;
	height: 100%;
}

/* .card-body {
	padding: 11px;
} */

/* BACK TO TOP BUTTON */
#toTop {
	position: fixed;
	bottom: 50px;
	right: 10px;
	border-radius: 50%;
	background-color: #247c39;
	z-index: 1000;
	width: 43px;
	height: 43px;
	opacity: 0.45;
	transition: background-color 0.5s, opacity 0.5s;
	border-style: none;
}

#toTop:hover {
	background-color: #b60000;
	opacity: 0.65;
}

#toTop:active {
	background-color: #5e5e5e;
	opacity: 0.9;
	transition: background-color 0s, opacity 0s;
}

/* ICON ARROW UP */
#toTop::after {
	content: "\f062";
	font-family: FontAwesome;
	color: #fff;
}

/* responsive */
@media (min-width: 768px) {
	#toTop {
		right: 30px;
		bottom: 50px;
	}
}
/* ---- END BACK TO TOP */

/* TEXTE ALT */
img,
svg {
	font: 1.2em "Helvetica", sans-serif;
	vertical-align: middle;
	/* line-height: 50px; */
	line-height: 80px;
	text-align: center;
}
