<form method="post" class="text-center" action="{{ path('app_profile_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('{{app.user.prenom | capitalize }}, souhaitez-vous supprimer votre compte sur Roots ? Pour confirmer, cliquez sur \'OK\'.');">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">

	<button class="btn btn-lg btn-danger m-3">
		Supprimer mon compte
	</button>

</form>
