{{ form_start(userForm) }}
<p>
	<small class=" d-flex justify-content-end opacity-75">
		*Champs obligatoires
	</small>
</p>
    {{ form_widget(userForm) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(userForm) }}
