{% extends 'base.html.twig' %}

{% block title %}
	Recommandation envoyée
{% endblock %}

{% block metadesc %}
	Merci d'avoir participé à la sélection des meilleurs restaurants africains et caribéens !
{% endblock %}

{% block body %}

	<h1>
		Recommandation envoyée !
	</h1>

	<section class="mb-5 bg-roots-yellow container-fluid">
		<div class="mx-auto text-center">
			
			<p class="mb-5 h5 ">
				L'équipe de Roots vous remercie pour votre recommendation de restaurant !
			</p>

			<p class="mb-3">
				Si celle-ci nous semble pertinente, vous recevrez un petit cadeau dans votre boite mail !
				<br>	
				<small>
				Surveillez vos emails (et vos spams !).
				</small>			
			</p>
		{# </div> #}
		<hr>

		<div class="text-center">
			<p>
				En attendant, découvrez toutes nos sélections de restaurants !
			</p>
			<a role="button" href="{{path('app_restaurant_index') }}" class="btn btn-warning m-2">
				Découvrir les restaurants
			</a>
		</div>
		<hr>
		<div class="text-center">
			<p>
				Vous souhaitez faire une autre recommandation ?
			</p>

			<a role="button" href="{{path('app_recommander') }}" class="btn btn-outline-dark m-2">
				Faire une autre recommandation
			</a>
		</div>
	</section>

{% endblock %}
