{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
	<section class="contact_confirm">

		<h1 class="position_center">
			{{recommander_h1}}
		</h1>

		<div class="submitted_form_container">
			<p>
				Merci pour votre recommandation !
				<br><br>
				L'équipe de Roots étudiera votre suggestion. <br>
				Si votre recommandation nous semble pertinente, vous recevrez un petit cadeau dans votre boite mail :) !
				<br><br>
				Surveillez vos emails (et vérifiez vos spams !).
				<br>
			</p>
		</div>
		<hr>

		<div class="position_center">
			<p>En attendant, venez découvrir nos choix de restaurants actuellement disponibles !</p>
			<br>
		</div>
		<div class="position_center">
			<a role="button" href="{{path('app_restaurant_index') }}" class="btn submitted_form_nav">
				Découvrir tous les restaurants
			</a>
		</div>
<hr>
		<div class="position_center">
			<p>Vous souhaitez faire une autre recommandation ?</p>
			<br>
		</div>
		<div class="position_center">
			<a role="button" href="{{path('app_recommander') }}" class="btn submitted_form_nav">
				Faire une autre recommandation
			</a>
		</div>
	</section>

{% endblock %}
