{% extends 'base.html.twig' %}

{% block title %}Admin - Modifier Restaurant - Roots{% endblock %}

{% block body %}
    <h1>Modifier ce Restaurant</h1>

    {{ include('admin_restaurant/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_restaurant_index') }}">Retour à la liste des restaurants</a>

    {{ include('admin_restaurant/_delete_form.html.twig') }}
{% endblock %}
