{% extends 'base.html.twig' %}

{% block title %}
	Modifier Restaurant
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Modifier Restaurant</h1>

		<div class="container">

			{{ include('admin_restaurant/_form.html.twig', {'button_label': 'Modifier'}) }}
			<hr>

			<div class="d-flex justify-content-around flex-wrap">

				<a href="{{ path('app_admin_restaurant_index') }}" class="btn btn-light">Retour index Restaurant</a>

				{{ include('admin_restaurant/_delete_form.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}
