{% extends 'base.html.twig' %}

{% block title %}
	Créer Restaurant
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Créer un nouveau Restaurant</h1>

		<div class="container">

			{{ include('admin_restaurant/_form.html.twig') }}
			<hr>
			<a href="{{ path('app_admin_restaurant_index') }}" class="btn btn-light">Retour index Restaurant</a>
		</div>
	</div>
{% endblock %}
