{{ form_start(user_address_form) }}

{{ form_widget(user_address_form) }}

<button class="btn btn-success">{{ button_label|default('Valider cette adresse') }}</button>
{{ form_end(user_address_form) }}


