{% extends 'base.html.twig' %}

{% block title %}Paiement
{% endblock %}

{% block body %}
	<h1>Paiement de votre commande</h1>
    
	<!-- Display a payment form -->
    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Paiement</span>
      </button>
      <div id="error-message">
    <!-- Display error message to your customers here -->
  </div>
      <div id="payment-message" class="hidden"></div>
    </form>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script src="https://js.stripe.com/v3/"></script>

<script>
const stripe = Stripe("pk_test_51KquMELfBciygh7TnoJXg5vdJCTm6Vey9p0Q4mXEHpUkxxLwoNP7AorVW0mySoU8x4ZDRWQiii0nLDKhumnr1FWU005AFZWxGX");


      const options = {
      clientSecret: '{{clientSecret}}' 
      };

      // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
      const elements = stripe.elements(options);

      // Create and mount the Payment Element
      const paymentElement = elements.create('payment');
      paymentElement.mount('#payment-element');

      const form = document.getElementById('payment-form');

</script>

{% endblock %}


