{% extends 'base.html.twig' %}

{% block title %}
Définir la livraison
{% endblock %}

{% block metadesc %}
Commandez dès maintenant les meilleurs livres de recettes spécialisés et faites vous livrer directement à domicile !
{% endblock %}

{% block body %}

	<div class=" bg-light p-2 rounded-3">


		<h2>Adresse de livraison</h2>
		<p>
		Veuillez confirmer votre adresse de livraison, en remplissant le formulaire suivant :
		</p>
		<div class="row g-3">
			{{ include('profile_payment/_form.html.twig')}}

		</div>
	</div>


{% endblock %}
