/* page A propos de roots */

.about_container {
    width: 80%;
    margin: auto;
}
.about_container h2 {
    color:#2d9b48 ;
    margin: auto;
    display: flex;
    align-items: center;
}
.about_container p, .about_container span {
width: 60%;
}

.about_container article {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 1.25rem;
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    /* border: 1px black solid; */
}

.about_container article:nth-child(even) {
    background-color:#ffe771;
}

