/* sticky footer */
html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site_container {
    flex: 1;
    /* padding-bottom: 3rem; */
}

/* footer */
footer {
    width: 100%;
    color: white;
    background-color: #caa38e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-top: 3rem; */
}

.footer_sumup {
    display: flex;
    flex-direction: row;
    width: calc(100% / 4);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:0 ;
}

.footer_sumup_content {
    height: auto;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.footer_links, .footer_links_socials {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    margin-bottom: 0;
}

.footer_links li {
    list-style-type: disc;
}
.footer_links ul {
    margin-bottom: 0;
}

.footer_links_socials_header{
margin-bottom: 0;

}

.footer_links_socials_icons {
    width: calc(100% / 2.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0;
    margin: 0;
}

footer a:hover {
    color: #2d9b48;
}

.copyright {
    font-size: 13px;
    opacity: 0.85;
        margin-bottom: 0;

}