/* page de connexion et inscription */

.register_container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-bottom: 0;
}

/* texte en vert dans la section de gauche (section_other) */
.section_other h1, .section_other small, .section_other p, .section_other i {
  color: #2d9b48;
}
/* section de gauche sur la page - qui n'est pas l'objet princiapl de la page */
.section_other {
  width: 40%;
  background: linear-gradient(to right, rgba(249, 165, 33, 0.851), rgb(255, 221, 51, 0.80) );
  margin-bottom: 0;
  margin-top: 5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top-right-radius: 60%;
  transition-duration: 0.5s;
  font-size: 1.5rem;
  font-weight: 700;
}
.section_other:hover {
  border-top-right-radius: 30%;
  background: linear-gradient(to right, rgba(255, 159, 50, 0.8), rgb(255, 221, 51, 0.80) );
  font-size: 1.6rem;
}
.section_other a:not(.btn):hover {
  color: #e62221;
}
.row_center {
  display: flex;
  /* width: auto; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section_main {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 221, 51, 0.80);
  border-top-left-radius: 20px;
  margin-bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/* tout le texte en rouge */
.section_main p {
  color: #e62221;
}
/* couleur du lien  */
.section_main a:not(.btn):hover {
  color: #2d9b48;
}

.section_main h1 {
  margin: 0;
}

.row_register {
  background-color: transparent;
  width: 80%;
  border: 0;
  padding: 20px;
  margin: auto;
}

.agreeTerms_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.agreeTerms_text {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0.5rem;
  line-height: 0;
}

/* bouton de connexion et d'inscription - le main correspond à la page template */
.btn_main, .btn_other {
  width: 50%;
  background-color: #e62221;
  font-size: large;
  font-weight: 700;
}
.btn_main:hover, .btn_other {
  background-color: #2d9b48;
}
.btn_other:hover {
  background-color: #e62221;
}
.info_detail {
display: flex;
justify-content: flex-end;
}