/* section home recherche et formulaire  */
/* .section_home_recherche {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.section_home_recherche_form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-image:url("../img/karib.jpg");
  /* background-color: #2d9b48; */
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.section_home_recherche_form .btn {
  background-color: #e62221;
  transition: 0.3s;
}
.section_home_recherche_form .btn:hover {
  background-color: #ffdd33;
  color: black;
}

.input-group-text {
  background-color: white;
  width: 2.5rem;
  /* border: none; */
}

/* .form-control, 
.section_form_search {
  width: 100%;
  height: 3rem;
} */
