{% extends 'base.html.twig' %}

{% block title %}
	Créer Produit
{% endblock %}


{% block body %}
	<div class="bg_admin">

		<h1>Créer Produit</h1>

		<div class="container">

			{{ include('admin_produit/_form.html.twig') }}
			<hr>
			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_produit_index') }}" class="btn btn-light">Retour index Produit</a>

			</div>
		</div>
	</div>
{% endblock %}
