{% extends 'base.html.twig' %}

{% block title %}Admin - Créer un nouveau Produit - Roots
{% endblock %}


{% block body %}
	<h1>Créer un nouveau Produit</h1>
	<section class="container">

		{{ include('admin_produit/_form.html.twig') }}
		<hr>
		<a href="{{ path('app_admin_produit_index') }}" class="btn btn-outline-dark">Retour à la liste des catégories</a>
	</section>
{% endblock %}
