{% extends 'base.html.twig' %}

{% block title %}
	Créer Restauration
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Créer Restauration</h1>

		<div class="container">

			{{ include('admin_restauration/_form.html.twig') }}
			<hr>
			<div class="justify-content-center flex-wrap d-flex">
				<a href="{{ path('app_admin_restauration_index') }}" class="btn btn-light">Retour index Restauration</a>
			</div>
		</div>
	</div>
{% endblock %}
