{% extends 'base.html.twig' %}

{% block title %}Créer Restauration
{% endblock %}

{% block body %}
	<h1>Créer Restauration</h1>

	<section class="container">

		{{ include('admin_restauration/_form.html.twig') }}
		<hr>
		<div class="justify-content-center flex-wrap d-flex">
			<a href="{{ path('app_admin_restauration_index') }}" class="btn btn-outline-dark">Retour liste Restauration</a>
		</div>
	</section>
{% endblock %}
