{% extends 'base.html.twig' %}

{% block title %}
	Créer User
{% endblock %}


{% block body %}
	<div class="bg_admin">
		<h1>Créer User</h1>

		<div class="container">

			{{ include('admin_user/_form.html.twig') }}
			<hr>
			<a href="{{ path('app_admin_user_index') }}" class="btn btn-light">Retour User index</a>
		</div>
	</div>
{% endblock %}
