{% extends 'base.html.twig' %}

{% block title %}Créer un User
{% endblock %}


{% block body %}
	<h1>Créer un nouvel utilisateur</h1>
	<section class="container">
		{{ include('admin_user/_form.html.twig') }}
		<hr>
		<a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-dark">Retour à la liste des utilisateurs</a>
	</section>
{% endblock %}
