{% extends 'base.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}


{% block body %}
	<h1>Dashboard Admin</h1>

	<div class="text-center m-auto row w-75">
		<p class="my-3">
			Connecté.e en tant que :
			<br>
			<span class=" text-danger">
				{{ app.user.prenom | capitalize ~ " " ~  app.user.nom | upper }}
			</span>
			<span class=" opacity-75">
				({{app.user.username | lower}})
			</span>
		</p>
		<span>
			<a href="{{ path('app_logout') }}" role="button" class="btn btn-danger rounded-pill">
				Déconnexion
				<i class="fa-solid fa-sm fa-arrow-right-from-bracket"></i>
			</a>
		</span>
	</div>

	<section class="container bg-dark rounded-3 flex-wrap d-flex justify-content-between">

		<div class="card bg-light mb-3" style="max-width: 18rem;">
			<div class="card-header">Hébergement</div>
			<div class="card-body">
				<h5 class="card-title">Light card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>


		<div class="card bg-light mb-3" style="max-width: 18rem;">
			<div class="card-header">Base de données</div>
			<div class="card-body">
				<h5 class="card-title">Light card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

		<div class="card bg-light mb-3" style="max-width: 18rem;">
			<div class="card-header">Boite mail</div>
			<div class="card-body">
				<h5 class="card-title">Light card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>

	</section>

{% endblock %}
