<footer class='container-fluid'>
	<div class="footer_sumup">
		<a class="footer_logo_container" href="{{path('app_home')}}">
			<img class="footer_logo_img" src="{{ asset('assets/img/logo_roots.png') }}" alt="Logo du site Roots">
		</a>
		<ul class="footer_sumup_content">
			<li>
				<a href="">A propos de Roots</a>
			</li>
			<li>
				<a href="tel:+33600000000">
					<i class="fa-solid fa-phone"></i>
					06.00.00.00.00</a>


			</li>
			<li>
				<a href="https://goo.gl/maps/iqavF1LSDoXUHwCbA">
					<i class="fa-solid fa-house"></i>
					Paris 11e, France
				</a>


			</li>
		</ul>

	</div>

	<!-- menu du footer -->
	<div class="footer_links">
		<ul>
			<li><a href={{ path('app_contact')}}>Contact</a></li>
			<li><a href="">Plan du site</a></li>
			<li><a href="">Régimes alimentaires</a></li>
			<li><a href="">Recommander un restaurant</a></li>
		</ul>

	</div>

	<div class="footer_links">
		<ul>
			<li><a href="">Conditions générales de vente</a></li>
			<li><a href="">Confidentialité et cookies</a></li>
			<li><a href="">Conditions d'utilisation</a></li>
			<li><a href="">Mentions légales</a></li>
		</ul>

	</div>

	<div class="footer_links_socials">
		<p class="footer_links_socials_header">Suivez-nous !</p>

		<ul class="footer_links_socials_icons">
			<li>
				<a href="">
					<i class="fa-brands fa-xl fa-youtube"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa-brands fa-xl fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa-brands fa-xl fa-twitter"></i>
				</a>
			</li>
		</ul>
		<p class='copyright'>
			Tous droits réservés.
			<br>
			2022 &copy Roots /
			<a href="https://www.linkedin.com/in/justine-tvz">J.T.V.</a>
		</p>
	</div>
</footer>
