{% extends 'base.html.twig' %}

{% block title %}Admin - Créer une nouvelle catégorie de  Nutrition - Roots
{% endblock %}


{% block body %}
	<h1>Créer une nouvelle catégorie de Nutrition</h1>
	<section class="container">
		{{ include('admin_nutrition/_form.html.twig') }}
		<hr>
		<a href="{{ path('app_admin_nutrition_index') }}" class="btn btn-outline-dark">Retour à la liste des catégories</a>
	</section>
{% endblock %}
