{% extends 'base.html.twig' %}

{% block title %}
	Créer catégNutrition
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Créer catégNutrition</h1>

		<div class="container">

			{{ include('admin_nutrition/_form.html.twig') }}
			<hr>
			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_nutrition_index') }}" class="btn btn-light">Retour index Nutrition</a>
			</div>
		</div>
	</div>
{% endblock %}
