{% extends 'base.html.twig' %}

{% block title %}Modifier categ Boutique
{% endblock %}

{% block body %}
	<h1>Modifier categ Boutique</h1>
	<section class="container">

		{{ include('admin_boutique/_form.html.twig', {'button_label': 'Modifier'}) }}

		<hr>
		<div class="d-flex justify-content-around flex-wrap">

			<a href="{{ path('app_admin_boutique_index') }}" class="btn btn-outline-dark">Retour liste Boutique</a>

			{{ include('admin_boutique/_delete_form.html.twig') }}
		</div>
	</section>
{% endblock %}
