{% extends 'base.html.twig' %}

{% block title %}Créer Boutique
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle catégorie</h1>
	<section class="container">

		{{ include('admin_boutique/_form.html.twig') }}
		<hr>

		<a href="{{ path('app_admin_boutique_index') }}" class="btn btn-outline-dark">Retour à la liste</a>

	</section>
{% endblock %}
