{% extends 'base.html.twig' %}

{% block title %}
	Créer Boutique
{% endblock %}

{% block body %}
	<div class="bg_admin">

		<h1>Créer Boutique</h1>

		<div class="container">

			{{ include('admin_boutique/_form.html.twig') }}
			<hr>

			<a href="{{ path('app_admin_boutique_index') }}" class="btn btn-light">Retour index Boutique</a>

		</div>
	</div>
{% endblock %}
