{# Envoi email pour confirmation de message contact envoyé #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<style>
		h1 {
			color: #e62121;
		}

		footer {
			background-color: #fff9c1;
			color: #000000;
			margin-top: 7rem;
		}
	</style>
	<body>
		<h1>
			Message envoyé !
		</h1>

		<section>
			<div>

				<p>
					Bonjour,
					<br>
					Votre message a bien été pris en compte.
					<br>
					L'équipe de Roots reviendra vers vous dans les meilleurs délais.
				</p>
			</div>

			<p>
				N'hésitez pas à découvrir dès maintenant les meilleurs restaurants africains et caribéens de votre région et partout en France !
			</p>
			<div>
				<a role="button" href="https://www.leroots.fr" class="btn btn-warning">
					Découvrir les restaurants
				</a>
			</div>

			<p>
				N'hésitez pas à
				<a href="https://www.leroots.fr/contactez-nous">
					nous contacter
				</a>
				si vous avez des questions.</p>
			<p>
				Un grand merci,
				<br>
				L'equipe Roots !
			</p>
		</section>

		<footer>
			<ul>
				<li>
					Cet e-mail vous a été envoyé car vous avez consulté le site
					<a href="https://www.leroots.fr">
						Roots
					</a>
				</li>
				<li>
					<a href="#">Ne plus recevoir d'emails de Roots</a>
				</li>
			</ul>
		</footer>

	</body>
</html>
