<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<style>

		h1 {
			color: #e62121;
		}

		.btn-warning {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}

		.btn {
			display: inline-block;
			font-weight: 400;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			border: 1px solid transparent;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			line-height: 1.5;
			border-radius: 0.25rem;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}

		footer {
			background-color: #fff9c1;
			color: #000000;
			margin-top: 7rem;
		}
	</style>

	<body>

		<h1>Réinitialisation du mot de passe</h1>

		<section>
			<p>
				Bonjour,
			</p>
			<p>
				Une demande de réinitialisation de mot de passe a récemment été faite sur votre compte Roots.
			</p>
			<p>
				Pour réinitialiser votre mot de passe, cliquez sur le lien suivant :
			</p>
			{# lien #}
			<a class="btn btn-warning" href="{{ url('app_reset_password', {token: resetToken.token}) }}">
				{{ url('app_reset_password', {token: resetToken.token}) }}
			</a>

			<p>
				Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>

			<p>
				Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email svp.
				<br>
				Vos informations restent inchangées et votre compte est sécurisé.
			</p>
			<p>
				N'hésitez pas à
				<a href="https://www.leroots.fr/contactez-nous">
					nous contacter
				</a>
				si vous avez des questions.</p>
			<p>
				Un grand merci,
				<br>
				L'equipe Roots !
			</p>
		</section>

		<footer>
			<ul>
				<li>
					Cet e-mail vous a été envoyé car vous avez consulté le site
					<a href="https://www.leroots.fr">
						Roots
					</a>
				</li>
				<li>
					<a href="#">Ne plus recevoir d'emails de Roots</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
